* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: linear-gradient(135deg, #41657f, #6d4067);
  --bg-f-color: linear-gradient(135deg, #492b46, #000000);
  --item-color: #52386a;
  --button-color: #26145d;
  --button-h-color: #3d287c;
  --form-color: #964f4f;
  --input-color: #f8d8d8;
  --delete-button: #d40707;
  --text-color: #000000;
  --white-t-color: #ffffff;
}
